#root {
  max-width: 1280px;
  text-align: center;
}
.middle{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}
.form{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  padding: 1%;
  margin-top: 10%;
  margin-left: 5%;
  text-align: justify;
  color: #888888;;
}
.textNews{
  text-align: justify;
  color: #888888;
}
.enviar{
  width: 340px;
  height: 39px;
  min-width: 100%;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  color: #888888;
  background-color: white;
}
.itens1{
  margin-left: 10%;
  margin-right: 10%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  color: #888888;
}
.itens2{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  color: #888888;
}

.botao{
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  color: #888888;
  background-color: white;
}

.hr1{
  width: 100%; 
  height: 20px; 
  border-bottom: 1px solid #707070; 
  text-align: center"
}
.hr1Text{
  font: normal normal bold 18px/16px Helvetica Neue;
  color: #888888;
  font-size: 20px; 
  background-color: white;
  padding: 0 10px;
}
.hr2{
  width: 100%; 
  height: 20px; 
  border-bottom: 1px solid #707070; 
  text-align: center"
}
.hr2Text{
  font: normal normal bold 18px/16px Helvetica Neue;
  color: #888888;
  font-size: 20px; 
  background-color: white;
  padding: 0 10px;
}

.comprar{
  width: 200px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  color: #888888; 
  padding: 1px;
}
img{
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
}
.item1{
  text-align: justify;
  width: 201px;
  height: 350px;
  padding: 2em;
  height: 350px;
  
}
.compartilhar{
  color: #888888;
}
input{
  border: 1px solid #888888;
}