#root {
  max-width: 1280px;
  text-align: center;
}
.middle{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}
.form{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  padding: 1%;
  margin-top: 10%;
  margin-left: 5%;
  text-align: justify;
  color: #888888;;
}
.textNews{
  text-align: justify;
  color: #888888;
}
.enviar{
  width: 340px;
  height: 39px;
  min-width: 100%;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  color: #888888;
  background-color: white;
  font-size: medium;

}

.botao{
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  height: 39px;
  color: #888888;
  background-color: white;
  font-size: medium;
}

.hr1{
  width: 100%; 
  height: 20px; 
  border-bottom: 1px solid #707070; 
  text-align: center"
}
.hr1Text{
  font: normal normal bold 18px/16px Helvetica Neue;
  color: #888888;
  font-size: 20px; 
  background-color: white;
  padding: 0 10px;
}
.hr2{
  width: 100%; 
  height: 20px; 
  border-bottom: 1px solid #707070; 
  text-align: center"
}
.hr2Text{
  font: normal normal bold 18px/16px Helvetica Neue;
  color: #888888;
  font-size: 20px; 
  background-color: white;
  padding: 0 10px;
}

img{
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
}
.compartilhar{
  color: #888888;
}
input{
  border: 1px solid #888888;
}
.cardDiv{
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 2rem;
  display: flex;
  color: #888888;
  flex-wrap: wrap;
}
.form2{
  display: flex;
  margin-left: 22%;
  margin-right: 20%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.inputText{
  width: 340px;
  height: 30px;
}
.formChildren{
  padding: 10px;
  text-align: initial;
}